<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Ignazio Balistreri">
    <meta name="description"
      content="The Website Portfolio aims to provide
      information and accessability to the Student Journey and Projects of Ignazio Balisteri, current Software Engineering student of the CODE University in Berlin.">
  
    <title>{% block title %}Ignazio Balistreri | Software Engineering Student{% endblock %}</title>
  
    <!-- Styles -->
    <link rel="stylesheet" href='/static/css/LogSign.css'>
    <link rel="stylesheet" href='/static/css/style.css'>
  
  </head>
<body>
  <!-- Navbar -->
  <nav>
    <h1><a href="index">Ignazio Balistreri</a></h1>
    <ul class="navigation">
      <li><a href="#about" class="nav-link">About</a></li>
      <li><a href="#skills" class="nav-link">Skills</a></li>
      <li><a href="#projects" class="nav-link">Projects</a></li>
      <li><a href="#contact" class="nav-link">Contact</a></li>
      <li><a href="/postings" class="nav-link">Postings</a></li>
    </ul>
    <ul class="navbar-mid">
      {% if user.is_authenticated %}
        <li><a href="logout" class="nav-link">Logout</a></li>
      {% else %}
        <li><a href="signup" class="nav-link">Sign Up</a></li>
        <li><a href="login" class="nav-link">Log In</a></li>
      {% endif %}
    </ul>
    <!-- Hamburger Menu -->
    <button type="button" class="hamburger" id="menu-btn">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </nav>
  <!-- Mobile Menu -->
  <div class="mobile-menu hidden" id="menu">
    <ul>
      <li><a href="index" class="nav-link">About</a></li>
      <li><a href="index" class="nav-link">Skills</a></li>
      <li><a href="index" class="nav-link">Projects</a></li>
      <li><a href="index" class="nav-link">Contact</a></li>
      <li><a href="postings" class="nav-link">Postings</a></li>
      <li><a href="logout" class="nav-link">Logout</a></li>
    </ul>
    
    <div class="mobile-menu-bottom">
      <a href="signup"><button class="btn btn-dark-outline">Sign Up</button></a>
      <a href="signup"><button class="btn btn-dark">Log In</button></a>
    </div>
  </div>
  {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == "error" %}
        <div class="alert alert-danger alert-dismissible fade" role="alert">
          {{ message }}
          <button type="button" data-bs-dismiss="alert" class="btnf-close">&#88;</button> 
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissible fade" role="alert">
          {{ message }}
          <button type="button" class="btnf-close" data-bs-dismiss="alert">&#88;</button>
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div>{% block content %}{% endblock %}</div>
    <!-- Social accounts -->
    <footer>
      <p class="copy">&copy; Copyright 2022</p>
      <p class="copy">
        Built with &#x2661; by
        <a href="#" target="_blank">
          Ignazio Balistreri</a>
        </p>
    </footer>
      <!-- Scroll to top -->
  <i class="scroll-up" id="scroll-up">
    <img src="/static/images/icons8-doppelt-hoch.gif" class="socialsicon up-arrow" alt="">
  </i>
  <script src="/static/js/app.js"></script>
  <script src="/static/js/second.js"></script>
  <script src="/static/js/third.js"></script>
</body>
</html>