{% extends 'base.html' %}
<body>

  <!-- Hero Section -->
  {% block content %}
  <section class="hero" id="about">
    <img src="/static/images/business4.jpg" alt="Ignazio Balistreri" loading="lazy" class="hero-img">
    <div class="bio animate__animated animate__shakeX">
      <h2 class="bio-title">About Me</h2>
      <p class="bio-text">
        Hi, I'm Ignazio and I love to code. I'm a 22 year old 
        Software Engineering student at the Code University
        in Berlin. Have fun checking out my website & don't 
        hesitate to contact me if you have any questions.
        Let me know your thoughts or feedback in the Postings
        section.
      </p>
    </div>
  </section>
  
  <!-- More about -->
  <section class="more-about">
    <h2>More About Me</h2>
    <p>
      I have a Social Media Marketing background, where I supported 
      companies to grow their online presence through SMM and 
      performance marketing. But lets talk about the future.
      I want to build SaaS solutions, expand my engineering knowledge
      in the software section and make the world a better place
      with my code. I aim to become a web developer, cybersecurity 
      specialist and mobile developer.
    </p>
    <p>
      Challenges are my drive and curiosity points me in the right direction. 
      For me it is a never ending learning journey and I enjoy every single 
      part of it.
    </p>
    <p>
      My mantra: Be good & do good.
    </p>
  </section>

  <!-- Skills section -->
  <section class="skills" id="skills">
    <h2 class="skill-header">My Top Skills</h2>
    <div class="skills-wrapper">
      <div class="first-set animate__animated animate__pulse">

        <img src="/static/images/icons8-python.svg" alt="" loading="lazy" class="icon icon-card">
        <img src="/static/images/icons8-css3.svg" alt="" loading="lazy" class="icon icon-card">
      </div>
      <div class="second-set animate__animated animate__pulse">
        <img src="/static/images/icons8-css3.svg" alt="" loading="lazy" class="icon icon-card">
        <img src="/static/images/icons8-html-5.svg" alt="" loading="lazy" class="icon icon-card">
      </div>
    </div>
  </section>

  <section class="projects" id="projects">
    <h2 class="projects-title">Some of my Recent Projects</h2>
    <div class="projects-container">
      <div class="project-container project-card">
        <img src="/static/images/susumuai.png" alt="Susumu AI" loading="lazy" class="project-pic" />
        <h3 class="project-title">Susumu AI</h3>
        <p class="project-details">
          Susumu AI is a berlin based fashion base. The founders
          produce high-end fashion products. They use kimono fabrics
          from Japan to produce handcrafted fashion.
        </p>
        <a href="#" target="_blank" class="project-link">Take a look</a>
      </div>
      <div class="project-container project-card">
        <img src="/static/images/slash-homepage.png" alt="Slash" loading="lazy" class="project-pic" />
        <h3 class="project-title">//Slash_</h3>
        <p class="project-details">
          The //Slash Hackathon unites like-minded people to come together
          during a Hackathon and work on ideas that make the world a better place
          with the theme of sustainability.
        </p>
        <a href="#" target="_blank" class="project-link">Take a look</a>
      </div>
      <div class="project-container project-card">
        <img src="/static/images/fb-ads-screenshot.png" alt="IMB media" loading="lazy" class="project-pic" />
        <h3 class="project-title">Performance Marketing</h3>
        <p class="project-details">
          I developed exclusive marketing strategies together with small
          business to improve their online visibility and overall revenue
          through performance marketing.
        </p>
        <a href="#" target="_blank" class="project-link">Take a look</a>
      </div>
    </div>
  </section>

  <!-- Contact section -->
  <section class="contact" id="contact">
    <h2>Get In Touch With Me</h2>
    <div class="contact-form-container">
      <div class="contact-form">
        <form action="https://formspree.io/f/meqnkvqw" method="POST">
          <div class="form-control">
            <label for="name">Name</label>
            <input type="text" id="name" name="sender-name" placeholder="Enter Your name" class="input-field" required>
          </div>
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" id="email" name="sender-email" placeholder="Enter Your Email" class="input-field"
              required>
          </div>
          <div class="form-control">
            <label for="message">Message</label>
            <textarea id="message" cols="60" rows="10" placeholder="Enter Your Message" name="message"
              class="input-field" required></textarea>
          </div>
            <button class="button">Submit</button>
        </form>
      </div>
    </div>
  </section>

  <!-- Create a post button -->
  <section class="create-post-section" id="create-post-section">
    <div>
      <h2 class="h2">Want to create a post?</h2>
      <a href="/create-post"><button type="button" class="button containerf">Create a Post</button></a>
    </div>
  </section>
  <!-- Socials -->
  <div class="socials">
    <a href="#" target="_blank">
      <img src="/static/images/icons8-github.svg" alt="Github" loading="lazy" class="socialsicon">
    </a>
    <a href="#" target="_blank">
      <img src="/static/images/icons8-instagram.svg" alt="Instagram" loading="lazy" class="socialsicon">
    </a>
    <a href="#" target="_blank">
      <img src="/static/images/icons8-linkedin.svg" alt="LinkedIn" loading="lazy" class="socialsicon">
    </a>
    <a href="#" target="_blank">
      <img src="/static/images/icons8-xing.svg" alt="Xing" loading="lazy" class="socialsicon">
    </a>
  </div>
    
    {% endblock %}
</body>
</html>