{% extends "base.html" %} 
{% block title %}{{username}}'s Posts{% endblock %} 
{% block content %}
<h2 class="create-post-h2">{% block header %}Take a look at other postings{% endblock %}</h2>
<div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
        <div class="card-header">
            <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
            {% if user.id == post.author %}
            <div class="btnf-group">
                <button type="button" class="btnf btnf-sm btnf-primary dropdown-toggle" data-bs-toggle="dropdown">
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="card-text">{{post.text}}</div>
        </div>
        <div class="card-footer">{{post.date_created}}</div>
    </div>
    <br>
    <div>
        <a href="/index"><button type="button" class="btnf btnf-lg btnf-secondary">Back</button></a>
    </div>
    {% endfor %}
</div>
{% block footer %}
    <h2>Want to create a post?</h2>
    <div>
        <a href="/create-post"><button type="button" class="button">Create a Post</button></a>
    </div>
{% endblock %}
{% endblock %}

