{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %}
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form method="POST" action="/signup">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-github.svg" alt="Github" loading="lazy" class="social">
                    </a>
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-instagram.svg" alt="Instagram" loading="lazy" class="social">
                    </a>
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-linkedin.svg" alt="LinkedIn" loading="lazy" class="social">
                    </a>
                </div>
                <span>Use Email for Registration</span>
                <input name="username" type="text" placeholder="Username">
                <input name="email" type="email" placeholder="Email">
                <input name="password1" type="password" placeholder="Password">
                <input name="password2" type="password" placeholder="Enter Password Again">
                <button class="button">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form method="POST" action="/login">
                <h1>Log In</h1>
                <div  class="social-container">
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-github.svg" alt="Github" loading="lazy" class="social">
                    </a>
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-instagram.svg" alt="Instagram" loading="lazy" class="social">
                    </a>
                    <a href="#" target="_blank">
                        <img src="/static/images/icons8-linkedin.svg" alt="LinkedIn" loading="lazy" class="social">
                    </a>
                </div>                
                <input name="email" type="email" placeholder="Email">
                <input name="password" type="password" placeholder="Password">
                <a href="#">Forgot your password?</a>
                <button class="button">Log In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To stay in touch please login</p>
                    <button class="ghost button" id="signIn">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hi there!</h1>
                    <p>Enter your personal information and start exploring my Portfolio</p>
                    <button class="ghost button" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}