/* Buttons SignUp LogIn */
.btn {
    cursor: pointer;
    display: inline-block;
    background: none;
    border: 1px black solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline {
    border-color: black;
    color: black;
}

.btn-dark-outline:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.btn-light-outline {
    border-color: white;
    color: white;
}

.btn-dark {
    background-color: black;
    color: white;
}

.btn-dark:hover {
    background-color: #333;
}